$light1-main-color:#E0F2F1;

$main-color: #2196F3;

$complementary-color:#4CAF50;
$secondary-color: rgba(0,0,0, 0.5);



$b-main-color: #4FC3F7; // b for bright
$d-main-color: #1976D2; // d for dark


// MARGIN AND PADDING

$padding:10px;