

.item-list{
	background-color:#F5F5F5;
}

.item-list__header{
	width:100%;
	height:50px;
	display:flex;
	align-items:center;
	background-color:$b-main-color;
	padding:$padding;
}

.item-list__title{
	color:white;
	display:flex;
	flex-grow:1;
}

.item{
	border-bottom:1px solid rgba(0,0,0,0.1);
}