.container{
	display: block;
	width: 90%;
	height:auto;
	min-height:calc(100vh - 300px);
	margin: 50px auto;
	padding:10px;
	background-color:white;
	border:1px solid rgba(0,0,0, 0.2);
}

@include respond-to(medium) {
	.container{
		width: 80%;
		padding:30px;
	}
}
@include respond-to(large) {
	.container{
		width: 80%;
		padding:50px;
	}
}