.event-list{
	width:90%;
	max-width:300px;
	display:block;
	margin:auto;
	padding:10px 0;
	cursor:pointer;
	.event-item{
		margin-bottom:20px;
		width:100%;
		>div{
			padding: 10px;
		}
	}
}
.date-time, .event-title p, .logo{
	font-weight: bold;	
}
.date-time{
	display: inline-flex;	
}
.logo, .event-title span, .date-time>p{
	font-size: 14px;	
}
.event-item{
	border:1px solid $b-main-color;	
}

@include respond-to(medium) {
	.event-list{
		max-width: 90%;		
		.event-item{
			display: flex;
			height: 150px;
			.event-title{
				width: 60%;
			}
			.icon{
				float: top-right;
				max-width: 10%;
			}
		}
		.date-time{
			background-color: $main-color;
			flex-direction: column;	
			color: white;
			width: 150px;
			>p{
				line-height:0;
				text-align: center;
			}
			p:first-of-type{
				padding-top: 30%;
			}			
		}
	}
}

@include respond-to(large) {
	.event-list{
		max-width: 90%;		
		.event-item{
			display: flex;
			height: 150px;
			.event-title{
				width: 65%;
			}
			.icon{
				float: top-right;
				max-width: 10%;
			}
		}
		.date-time{
			background-color: $main-color;
			flex-direction: column;	
			color: white;
			width: 150px;
			>p{
				line-height:0;
				text-align: center;
			}
			p:first-of-type{
				padding-top: 30%;
			}			
		}
	}
}