.date-time, .event-title p, .logo{
	font-weight: bold;	
}

.logo, .event-title span{
	font-size: 14px;
	
}

.logo{
	text-align: right;
}

.event-item{
	border:1px solid $b-main-color;
	padding:10px;
}