.form{
	width:90%;
	max-width:300px;
	display:block;
	margin:auto;
	padding:10px 0;

	.form-control{
		margin-bottom:20px;
		width:100%;
	}

	.form-row{
		width: 100%;
		display: flex;
		justify-content: space-between;

		.form-control{
			width:100%;
		}
	}


	label, input, textarea{
		text-align: left;
		width:100%;
		display: block;
	}
	label{
		color:$main-color;
		font-weight: bold;
	}

	input, textarea{
		border:1px solid $secondary-color;
		padding:10px;

		&::placeholder{
			color:$secondary-color;
		}
	}
	textarea{
		min-height: 100px;
		padding:10px;
	}
}

@include respond-to(medium) {
	.form{
		width:60%;

		.form-row{
			width: 100%;
			display: flex;
			justify-content: space-between;

			.form-control{
				width:48%;
			}
		}
	}
}

@include respond-to(large) {
	.form{
		width:40%;
		
		.form-row{
			width: 100%;
			display: flex;
			justify-content: space-between;

			.form-control{
				width:48%;
			}
		}
	}
}
