.search-bar{
	position:fixed;
	top:50px;
	left:0;
	width:100%;
	height:50px;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:$main-color;
	margin-bottom:50px;

	.form-control{
		display: flex;
		align-items: center;

		input{
			text-align: left;
			width:100%;
			display: block;
		}

		input{
			line-height: 30px;
			border:none;
			padding: 0;
			padding-left:10px;

			&::placeholder{
				color:$secondary-color;
			}
		}

		i{
			background-color:white;
			line-height: 30px;
			width:50px;
			border-right:1px solid $main-color;
			text-align: center;
			color:$main-color;

		}
	}

}