html, body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

body {
  background-color: #EEEEEE;
  font-family: 'Varela Round', sans-serif; }

* {
  box-sizing: border-box; }

h2 {
  text-align: center; }

.container {
  display: block;
  width: 90%;
  height: auto;
  min-height: calc(100vh - 300px);
  margin: 50px auto;
  padding: 50px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2); }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 80%; } }

@media only screen and (min-width: 992px) {
  .container {
    width: 80%; } }

.form {
  width: 90%;
  max-width: 300px;
  display: block;
  margin: auto;
  padding: 10px 0; }
  .form .form-control {
    margin-bottom: 20px;
    width: 100%; }
  .form .form-row {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .form .form-row .form-control {
      width: 100%; }
  .form .form-error {
    background-color: #FFCDD2;
    padding: 10px;
    display: none; }
  .form .form-message {
    color: #B71C1C; }
  .form label, .form input, .form textarea {
    text-align: left;
    width: 100%;
    display: block; }
  .form label {
    color: #2196F3;
    font-weight: bold; }
  .form input, .form textarea {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px; }
    .form input::placeholder, .form textarea::placeholder {
      color: rgba(0, 0, 0, 0.3); }
  .form textarea {
    min-height: 100px;
    padding: 10px; }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .form {
    width: 60%; }
    .form .form-row {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .form .form-row .form-control {
        width: 48%; } }

@media only screen and (min-width: 992px) {
  .form {
    width: 40%; }
    .form .form-row {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .form .form-row .form-control {
        width: 48%; } }

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: white; }

.btn-primary {
  background-color: #2196F3;
  color: white; }
  .btn-primary:hover {
    background-color: #1976D2;
    color: white; }

.btn-danger {
  background-color: #F44336; }
  .btn-danger:hover {
    background-color: #D32F2F; }

.btn-default {
  background-color: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.2); }
  .btn-default:hover {
    background-color: rgba(0, 0, 0, 0.1); }

.icon {
  width: 20px;
  height: 20px; }

.text-main {
  color: #2196F3; }

.text-secondary {
  color: rgba(0, 0, 0, 0.5); }

.event-list {
  width: 90%;
  max-width: 300px;
  display: block;
  margin: auto;
  padding: 10px 0;
  cursor: pointer; }
  .event-list .event-item {
    margin-bottom: 20px;
    width: 100%; }
    .event-list .event-item > div {
      padding: 10px; }

.date-time, .event-title p, .logo {
  font-weight: bold; }

.date-time {
  display: inline-flex;
  /*justify-content: space-between;*/ }
  .date-time p:first-of-type {
    padding-right: 1vw; }

.logo, .event-title span, .date-time > p {
  font-size: 14px; }

.event-item {
  border: 1px solid #4DB6AC; }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .event-list {
    max-width: 90%; }
    .event-list .event-item {
      display: flex;
      height: 150px; }
      .event-list .event-item .event-title {
        width: 60%; }
      .event-list .event-item .icon {
        float: top-right;
        max-width: 10%; }
    .event-list .date-time {
      background-color: #2196F3;
      flex-direction: column;
      color: white;
      width: 150px; }
      .event-list .date-time > p {
        line-height: 0;
        text-align: center; }
      .event-list .date-time p:first-of-type {
        padding-top: 30%; } }

@media only screen and (min-width: 992px) {
  .event-list {
    max-width: 90%; }
    .event-list .event-item {
      display: flex;
      height: 150px; }
      .event-list .event-item .event-title {
        width: 65%; }
      .event-list .event-item .icon {
        float: top-right;
        max-width: 10%; }
    .event-list .date-time {
      background-color: #2196F3;
      flex-direction: column;
      color: white;
      width: 150px; }
      .event-list .date-time > p {
        line-height: 0;
        text-align: center; }
      .event-list .date-time p:first-of-type {
        padding-top: 30%; } }

.search-bar {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2196F3;
  margin-bottom: 50px; }
  .search-bar .form-control {
    display: flex;
    align-items: center; }
    .search-bar .form-control input {
      text-align: left;
      width: 100%;
      display: block; }
    .search-bar .form-control input {
      line-height: 30px;
      border: none;
      padding: 0;
      padding-left: 10px; }
      .search-bar .form-control input::placeholder {
        color: rgba(0, 0, 0, 0.3); }
    .search-bar .form-control i {
      background-color: white;
      line-height: 30px;
      width: 50px;
      border-right: 1px solid #2196F3;
      text-align: center;
      color: #2196F3; }

.details-list {
  display: flex;
  flex-wrap: wrap; }
  .details-list .details-item {
    margin: 0 10px 10px 0; }

.row {
  margin: 20px auto; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 50px;
  background-color: #1976D2; }
  .navbar a {
    color: white; }
  .navbar .nav-brand, .navbar .hide-nav {
    position: absolute;
    top: 0;
    height: 50px;
    display: flex;
    align-items: center; }
  .navbar .nav-brand {
    left: 10%; }
  .navbar .hide-nav {
    right: 10%;
    font-size: 24px;
    color: white;
    cursor: pointer; }
    .navbar .hide-nav i {
      padding: 10px; }
  .navbar ul {
    position: relative;
    margin-top: 50px;
    display: none; }
    .navbar ul li {
      height: 50px;
      border-top: 1px solid rgba(255, 255, 255, 0.2); }
      .navbar ul li:first-child {
        border-top-color: rgba(255, 255, 255, 0.5); }
      .navbar ul li a {
        width: 100%;
        display: inline-block;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white; }
        .navbar ul li a:hover, .navbar ul li a.active {
          background-color: rgba(0, 0, 0, 0.2); }
    .navbar ul [data-auth="member"] {
      display: none; }

@media only screen and (min-width: 992px) {
  .navbar {
    display: flex; }
    .navbar .hide-nav {
      display: none; }
    .navbar ul {
      position: absolute;
      right: 10%;
      margin: 0;
      display: inline-block; }
      .navbar ul li {
        display: inline-block;
        border-top: none; }
        .navbar ul li a {
          padding: 0 20px; } }

footer {
  width: 100%;
  height: 100px;
  background-color: #1976D2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

.wdw {
  display: none; }

#wdw-events {
  display: block; }

#wdw-events .container {
  padding-top: 100px; }

#wdw-event [data-status] {
  display: none; }
